* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    color: #fff;
}

header {
    background: #020617;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav a {
    color: #38bdf8;
    text-decoration: none;
}

section {
    padding: 40px 20px;
}

#projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lista-projetos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

footer {
    background: #020617;
    text-align: center;
    padding: 15px;
}

/* Responsivo */
@media (max-width: 600px) {
    header {
        flex-direction: column;
        gap: 10px;
    }

    .card {
        width: 100%;
    }
}